---

---

<header id="Footer" class="w-full flex flex-col m-auto ">
    <div id="nav-footer" class="relative flex flex-col content-center w-full py-20 px-5 bg-custom-gray">
        <div class="flex justify-center align-middle w-max m-auto">
            <img src="logo-lumiesal.png" alt="Icono" class="block m-auto">
        </div>
        <ul class="nav-links flex w-full max-w-max mx-auto">
            <li><a class="text-white" href="#home">Inicio</a></li>
            <li><a class="text-white" href="#projects">Proyectos</a></li>
            <li class="mr-auto text-white"><a href="#about">Resumen</a></li>
            <li class="ml-auto text-white"><a href="#skill">Habilidades</a></li>
            <li><a class="text-white"  href="#contact">Contacto</a></li>
            <li><a class="text-white"  href="#blog">Blog</a></li>
        </ul>
    </div>
    <div id="copy" class="bg-custom-green py-3 px-5">
        <p class="text-center text-sm text-white">© 2024 <a class="font-bold" href="https://ludonex.com/" target="_blank">Ludonex</a> All Rights Reserved , Inc.</p>
    </div>
</header>