---

---

<header id="header" class="fixed top-5 left-0 right-0 flex w-full max-w-8xl m-auto p-3 bg-custom-gray rounded-full">
    <nav id="nav" class="relative flex justify-center w-full">
        <div class="logo absolute top-0 bottom-0 left-0 right-0 flex justify-center align-middle w-max m-auto">
            <img src="logo-lumiesal.png" alt="Icono" class="block m-auto">
        </div>
        <ul class="nav-links flex w-full ">
            <li><a class="bg-custom-green" href="#home">Inicio</a></li>
            <li><a class="text-white" href="#projects">Proyectos</a></li>
            <li class="mr-auto"><a href="#about">Resumen</a></li>
            <li class="ml-auto"><a href="#skill">Habilidades</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li><a href="#blog">Blog</a></li>
        </ul>
    </nav>
</header>