@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuración de fuentes personalizadas en Tailwind CSS */
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaSemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lufga";
  src: url("/fonts/LufgaLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (min-width: 0px) {
  :root {
    font-family: "Lufga", sans-serif;
  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  html * {
    box-sizing: border-box;
    color: #171717;
  }
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #171717;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Urbanist", sans-serif;
  }

  #header {
    transition: backdrop-filter 0.5s, background-color 0.5s;
  }
  #header.fijado {
    background-color: rgba(23, 23, 23, 0.506);
    backdrop-filter: blur(5px); /* Valor de desenfoque */
    -webkit-backdrop-filter: blur(5px);
  }
  #header #nav .logo img {
    max-width: 172px;
  }

  #header #nav ul a {
    display: block;
    padding: 20px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Lufga";
    border-radius: 500px;
    transition: padding 0.5s, font-size 0.5s;
  }

  #header.fijado #nav ul a {
    padding: 10px 40px;
    transition: padding 0.5s;
  }
  
  /*-------- */
  #main #nav-movil a{
    color:#171717;
  }
  #main #nav-movil{
  display: block;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  }
  #main #home .content * {
    transition: all 1s ease;
  }
  #main #home .content > * {
    /*  //transition: all 11s ease; */
  }
  #main #home .content {
    position: relative;
    padding-bottom: 0;
    transition: all 1s ease;
  }
  #main #home figure {
    position: relative;
  }
  #main #home figure::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100px; /* Altura del difuminado, ajusta según sea necesario */
    opacity: 1;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
  }
  #main #home figure::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 80%;
    height: auto;
    aspect-ratio: 15 / 8;
    background: #b1e8d0;
    border-radius: 550px 550px 0px 0px;
    -webkit-border-radius: 550px 550px 0px 0px;
    -moz-border-radius: 550px 550px 0px 0px;
    z-index: -1;
    transition: all 2s ease;
  }
  #main .bg-clip-text {
    background-image: linear-gradient(90deg, #00c593, #171717);
    background-size: 150%;
    background-position: 0%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  #main #projects .item-project .next-icon {
    color: #00c593;
    transition: all 0.5s;
  }

  #main #projects .item-project:hover .next-icon {
    background: #00c593;
  }

  #main #projects .item-project .next-icon i {
    color: #00c593;
    transition: all 0.5s;
  }
  #main #projects .item-project:hover .next-icon i {
    color: #ffffff;
  }
  #main #projects .item-project::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 196, 147, 0.05);
    background: linear-gradient(
      180deg,
      rgba(0, 196, 147, 0) 40%,
      rgba(0, 196, 147, 0.4) 90%,
      rgba(0, 196, 147, 0.5) 100%
    );
    z-index: -1;
  }
  #main #projects .item-project:hover .next-content {
    background-color: rgba(0, 197, 148, 0.8);
  }
  #main #projects .item-project .paragraph {
    overflow: hidden;
    opacity: 1;
    height: 0px; /* Altura inicial cero */
    transition: height 0.5s ease-in-out; /* Transición suave de la altura */
    -webkit-line-clamp: 3; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  /* Estilos del texto al hacer hover */
  #main #projects .item-project:hover .paragraph {
    height: 72px; /* Cambia la altura a automático al hacer hover */
  }
  #main #projects .item-project .hover-image {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    transform: translateY(
      -0%
    ); /* Mover la imagen hacia arriba al hacer hover */
    transition: transform 5.5s ease; /* Transición suave del movimiento */
    z-index: -2;
  }
  /* Estilos para el hover */
  #main #projects .item-project:hover .hover-image {
    transform: translateY(
      calc(-100% + 400px)
    ); /* Mover la imagen hacia arriba al hacer hover */
    transition: transform 15s ease; /* Transición suave del movimiento */
  }

  #main #blogs .swiper-container{
    padding-top:10px;
    padding-inline:10px;
  }

  #main #blogs .swiper-container .swiper-slide.item-post{
    box-shadow: 0px 2px 5px -1px #00000070;
    transition: box-shadow .5s;
  }

  #main #blogs .swiper-container .swiper-slide.item-post:hover{
    box-shadow: 0px 4px 12px 0px #00000070;
  }

  #main #blogs .swiper-container .swiper-slide .post-content .title-post{
    overflow: hidden;
    -webkit-line-clamp: 1; /* Limita el texto a 2 líneas */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  #main #blogs .swiper-container .swiper-slide .post-content div p{
    font-size:14px;
    font-weight:300;
  }

  #main .swiper-container{
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
    position: relative;
    padding-bottom:50px;
	}
  #main .swiper-container .swiper-pagination{
		bottom:0px !important;
	}
  #main .swiper-container .swiper-pagination .swiper-pagination-bullet{
		width:20px;
    height:20px;
    transition: all .5s;
	}
  #main .swiper-container .swiper-pagination .swiper-pagination-bullet-active{
		width:50px;
    border-radius: 20px;
    background: #00c593;
	}
	#main .swiper-container .swiper-slide{
		/* Center slide text vertically */
		display: flex !important;
    justify-content: center;
    align-items: end;
	}
  #main #contact form .content-input{
    display:grid;
    grid-template-areas:"input";
  }
  #main #contact form .content-input label{
    display:flex;
    align-items:center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    grid-area:input;
    z-index: 9;
    transition: transform .5s, padding .5s;
  }
  #main #contact form .content-input input{
    grid-area:input;
  }
  #main #contact form .content-input input:focus + label,
  #main #contact form .content-input input:not(:placeholder-shown) +  label{
    transform: translate(-12%, -70%) scale(.7);
    padding: 0.2rem;
/*     background:linear-gradient(0deg, #F8F8F8 50%, #FFF 50%); */
  }

  #footer .nav-links a {
    display: block;
    padding: 10px 14px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

}
@media screen and (min-width: 640px) {
  
  #main #home.fijado .content {
    padding-top: 18rem;
    padding-bottom: 7rem;
  }

  #main #home.fijado .content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom:0;
  }
  #main #home.fijado .content-title div:nth-child(2) img{
    width: 3rem;
    bottom: 0rem;
    left: -2rem;
  }
  #main #home.fijado .content-title .title {
    font-size: 2.5rem;
    min-height: 110px;
    max-width:20rem;
  }
  #main #home .content-image {
    margin-left: auto;
  }
  #main #home.fijado .content-image {
    width: 50%;
  }
  #main #home.fijado .content-image figure {
    margin-top: -60%;
  }
  #main #home .content-stars {
    position: absolute;
    top: calc(54%);
    max-width: calc(100% - 40px);
    left: 0;
    right: 0;
    margin: auto;
  }
  #main #home.fijado .content-stars {
    max-width: 88%;
    top: calc(100% - 96px);
  }
  #main #home.fijado .content-stars div:nth-child(1) p{
    max-width: 17rem;
  }
  #main #home.fijado figure::before {
    aspect-ratio: 15 / 13;
  }
}
@media screen and (min-width: 768px) {

  #main #home.fijado .content-title .title {
    font-size: 3rem;
    min-height: 120px;
    max-width:24rem;
  }
  #main #home.fijado .content-title div:nth-child(2) img{
    bottom: -1rem;
  }
  #main #home.fijado .content-image figure {
    margin-top: -55%;
  }
  #main #home .content-stars {
    top: calc(50%);
  }
}
@media screen and (min-width: 1024px) {
  #main #home.fijado .content-title .title {
    font-size: 4rem;
    min-height: 160px;
    max-width:32rem;
  }
  #main #home.fijado .content-image figure {
    margin-top: -50%;
  }
}
@media screen and (min-width: 1280px) {
  #header #nav ul a {
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 500px;
  }

  #main #home.fijado .content-title .title {
      font-size: 4.5rem;
      min-height: 160px;
      max-width: 40rem;
  }
  #main #home.fijado .content-image figure {
    margin-top: -40%;
  }
}
@media screen and (min-width: 1440px) {
  #main #home.fijado .content-title .title {
      font-size: 5.5rem;
      min-height: 307px;
      max-width: 46rem;
  }
  #main #home.fijado .content-title div:nth-child(2) img {
    bottom: 5rem;
  }
  #main #home.fijado .content-image figure {
    margin-top: -55%;
  }
}
