---
import Layout from '../layouts/Layout.astro';
import CardProjects from '../components/CardProjects.astro';
import CardAbout from '../components/CardAbout.astro';
import ItemInfo from '../components/ItemInfo.astro';
import TitleSection from '../components/TitleSection.astro';
import Form from '../components/Form.astro';
---

<Layout title="Portfolio">
		<section id="home" class="home">
			<div class="content max-w-9xl m-auto pt-40 px-5 flex flex-col">
				<div class="content-title mb-16 w-full order-1">
					<div class="max-w-max mx-auto relative">
						<img class="absolute -right-6 -top-6" src="icon-green-subtitle.svg" alt="Logo SVG">
						<span class="block max-w-max mx-auto mb-3 py-2 px-5 border-solid border-2 rounded-full">Hola</span>
					</div>
					<div class="max-w-max mx-auto relative">
						<img class="absolute left-0 -bottom-12" src="icon-green-title.svg" alt="Logo SVG">
						<h1 class="title text-6xl md:text-8xl text-center font-semibold w-full max-w-4xl mx-auto">Soy <span class="text-custom-green">Luis</span>, Desarollador Web</h1>
					</div>
				</div>
				<div class="content-image flex justify-center w-full order-3">
					<figure class="-mt-32 transition-all"><img src="dasarrollador-luis.png" alt=""></figure>
				</div>
				<div class="content-stars w-full flex justify-between align-middle order-2">
					<div>
						<i class="fas fa-quote-left text-custom-gray text-3xl"></i>
						<p class="max-w-80">
						Transformo ideas en experiencias 
						web emocionantes que destacan 
						tu presencia digital.
						</p>
					</div>
					<div>
						<div class="mb-5">
							<i class="fas fa-star text-custom-green text-3xl"></i>
							<i class="fas fa-star text-custom-green text-3xl"></i>
							<i class="fas fa-star text-custom-green text-3xl"></i>
							<i class="fas fa-star text-custom-green text-3xl"></i>
							<i class="fas fa-star text-custom-green text-3xl"></i>							
						</div>						
						<div class="flex flex-col items-end"><span class="block text-custom-gray text-5xl font-bold mb-2">+4 Años</span> De Experincia</div>
					</div>
				</div>
				
			</div>
		</section>
		<section id="projects" class="projects">
			<div class="content max-w-9xl m-auto py-14 px-5">
				<div class="content-title"><TitleSection classAdd="max-w-[426px]">Échale un vistazo a mi <span class="text-custom-green ">portafolio</span>.</TitleSection></div>
				<div class="py-12 flex gap-5">
					<CardProjects 
						title="JMteam"
						body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatem explicabo. Fugit maxime iusto, modi facilis voluptates reiciendis rem laboriosam deleniti iste autem ut consequatur unde quasi. Quisquam pariatur sit architecto eos deleniti?"
						urlImage="jmteam.webp"
						/>						
					<CardProjects 
						title="Servicentro"
						body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatem explicabo. Fugit maxime iusto, modi facilis voluptates reiciendis rem laboriosam deleniti iste autem ut consequatur unde quasi. Quisquam pariatur sit architecto eos deleniti?"
						urlImage="servicentro.webp"
						/>					
				</div>
				<div><p class="text-center text-custom-gray mx-auto max-w-lg">"Con tu apoyo, esta colección de proyectos puede seguir creciendo y expandiéndose. Estoy entusiasmado por las oportunidades futuras de desarrollar más experiencias impactantes juntos."</p>
				</div>
			</div>
		</section>
		<section id="about" class="about bg-custom-green-50">
			<div class="content max-w-9xl m-auto py-20 px-5 flex flex-col md:flex-row">
				<div class="md:w-6/12">
					<div class="content-title"><TitleSection classAdd="bg-clip-text">Mi experiencia.</TitleSection></div>
					<CardAbout 
						time="2021 - Present"
						position="Desarrollador Frontend"
						company="West Cretivo"
					/>
					<CardAbout 
						time="2022 - Present"
						position="Desarrollador web"
						company="JM-Team"
					/>
					<img src="" alt="">
				</div>
				<div class="md:w-6/12">
					<div class="content-title"><TitleSection classAdd="bg-clip-text">Mi educación</TitleSection></div>
					<CardAbout 
						time="2024 - Present"
						position="React y TypeScript"
						company="udemy"
					/>
					<CardAbout 
						time="2023 - Present"
						position="Desarrollador web"
						company="Universidad de antioquia"
					/>					
				</div>
			</div>
		</section>
		<section id="skill" class="skill">
			<div class="content max-w-9xl m-auto py-20 px-5 flex flex-col ">
				<TitleSection classAdd="text-center text-custom-green">Mis habilidades</TitleSection>					
				<div class="w-full flex flex-row flex-wrap gap-3 justify-between pt-16">
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">1</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">2</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">3</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">4</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">5</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">6</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">7</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">8</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">9</div>					
					<div class="w-2/12 p-10 bg-custom-gray rounded-md text-white text-5xl text-center">10</div>															
				</div>
			</div>
		</section>
		<section id="about" class="about bg-custom-green-50">
			<div class="content max-w-9xl m-auto py-20 px-5 flex flex-col md:flex-row ">
				<div class="md:w-6/12">
					<div class="cotent-form w-full mx-auto bg-white p-8 rounded-md shadow-md">
						<div class="content-title"><TitleSection>¡Trabajemos <span class="text-custom-green">juntos</span>!</TitleSection></div>
						<Form />
					  </div>				  					
				</div>
				<div class="md:w-6/12 flex flex-col justify-center px-10">
					<ItemInfo 
						icon='fa-solid fa-phone-volume'
						title='Teléfono'
						info='+57 323 808 8453'
						url='https://wa.me/+573238088453'
					/>										
					<div class="item-info mb-11">	
						<a href="" class="flex flex-nowrap items-center">		
							<div class="item-icon w-16 h-16 mr-5 bg-white rounded-full flex justify-center items-center">							
								<i class="fa-solid fa-envelope text-3xl text-custom-green"></i>					
							</div>
							<div class="item-info">
								<h3 class="text-xl font-medium mb-1">Email</h3>
								<p class="font-semibold text-3xl font-lufga">lumiesal@gmail.com</p>
							</div>	
						</a>															
					</div>
					<div class="item-info ">						
						<a href="" class="flex flex-nowrap items-center">
							<div class="item-icon w-16 h-16 mr-5 bg-white rounded-full flex justify-center items-center">							
								<i class="fa-brands fa-linkedin text-3xl text-custom-green"></i>
							</div>
							<div class="item-info">
								<h3 class="text-xl font-medium mb-1">Linkedin</h3>
								<p class="font-semibold text-3xl font-lufga">in/lumiesal</p>
							</div>						
						</a>										
					</div>
				</div>
			</div>
		</section>
</Layout>
