---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Portfolio">
	<main>
		<section id="home">
			<div><span>Hola</span></div>
			<div>
				<div></div>
				<div><h1 class="text-8xl text-center font-semibold w-full mx-">Soy <span class="text-custom-green">Luis</span>, Desarollador Web</h1></div>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
