---
interface Props {
	title: string;
	body: string;
	href: string;
	urlImage: string;
}

const { href, title, body, urlImage } = Astro.props;
---
<div class="item-project relative border-2 border-gray-300 rounded-lg overflow-hidden block z-10 w-full min-h-[400px] h-max">
	<div class="next-icon">&#8594;</div> <!-- Icono de flecha "next" -->
	<div class="next-content">
		<h3>{title}</h3> <!-- Título h3 -->
		<p>{body}</p> <!-- Párrafo -->
		<img class="hover-image " src=`${urlImage}` alt="Imagen" /> <!-- Imagen -->
	</div>
</div>
