<form class="flex flex-wrap pt-8 gap-5">
    <!-- Campo Nombre -->
    <div class="w-full md:w-[calc(50%-10px)] mb-4 content-input">
      <input type="text" id="nombre" name="nombre" placeholder=""  class="w-full px-3 py-2 rounded-lg border border-gray-300 bg-custom-gray-50 focus:outline-none focus:border-blue-500" required>
      <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
    </div>

    <!-- Campo Apellidos -->
    <div class="w-full md:w-[calc(50%-10px)] mb-4 content-input">
      <input type="text" id="apellidos" name="apellidos" placeholder=""  class="w-full px-3 py-2 rounded-lg border border-gray-300 bg-custom-gray-50 focus:outline-none focus:border-blue-500" required>
      <label for="apellidos" class="block text-sm font-medium text-gray-700">Apellidos</label>
    </div>

    <!-- Campo Email -->
    <div class="w-full md:w-[calc(50%-10px)] mb-4 content-input">
      <input type="email" id="email" name="email" placeholder=""  class="w-full px-3 py-2 rounded-lg border border-gray-300 bg-custom-gray-50 focus:outline-none focus:border-blue-500" required>
      <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    </div>

    <!-- Campo Teléfono -->
    <div class="w-full md:w-[calc(50%-10px)] mb-4 content-input">
      <input type="tel" id="telefono" name="telefono" placeholder="" class="w-full px-3 py-2 rounded-lg border border-gray-300 bg-custom-gray-50 focus:outline-none focus:border-blue-500" required>
      <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
    </div>

    <!-- Campo Mensaje -->
    <div class="w-full mb-4 conten-textarea">
      <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje aquí..." class="w-full px-3 py-2 rounded-lg border border-gray-300 bg-custom-gray-50 focus:outline-none focus:border-blue-500 resize-none" required></textarea>
      <label for="mensaje" class="block text-sm font-medium text-gray-700 hidden">Mensaje</label>
    </div>

    <!-- Botón Enviar -->
    <button type="submit" class="w-max bg-custom-green text-white py-2 px-4 rounded-lg focus:outline-none">
        Enviar
    </button>
  </form>