<header id="header" class="fixed top-5 left-0 right-0 flex w-full max-w-8xl m-auto p-3 bg-custom-gray rounded-full">
    <nav id="nav" class="flex justify-center w-full">
        <div class="logo fixed top-0 bottom-0 left-0 right-0 m-auto">
            <img src="path-to-your-icon.png" alt="Icono">
        </div>
        <ul class="nav-links flex text-white">
            <li><a class="text-white" href="#">Inicio</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Resumen</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>