<div class="social flex w-max mx-auto gap-5">
    <a href="https://www.linkedin.com/in/lumiesal/" target="_blank" rel="noopener noreferrer"><img src="linkedin-icon.svg" alt="LinkedIn icon"></a>
    <a href="https://www.github.com/lumiesal/" target="_blank" rel="noopener noreferrer"><img src="github-icon.svg" alt="Github icon"></a>
    <a href="https://twitter.com/Luis_Espitaleta" target="_blank" rel="noopener noreferrer"><img src="twitter-icon.svg" alt="Tiwtter icon"></a>
</div>