---
const { classAdd } = Astro.props;

const classes = [
  "text-custom-gray",
  "text-5xl",
  "leading-16",
  "font-urbanist",
  "font-bold",
];

const sumclass = classAdd+" "+classes.join(" ");

---

<h2 class={sumclass}>
 <slot /> 
</h2>