<section id="home" class="home">
    <div class="content max-w-9xl m-auto pt-32 sm:pt-36 md:pt-40 px-5 flex flex-col">
        <div class="content-title mb-4 sm:mb-16 w-full z-10">
            <div class="max-w-max mx-auto relative">
                <img class="absolute -right-6 -top-6" src="icon-green-subtitle.svg" alt="Logo SVG">
                <span class="block max-w-max mx-auto mb-3 py-2 px-5 border-solid border-2 rounded-full">Hola</span>
            </div>
            <div class="max-w-max mx-auto relative">
                <img class="absolute w-10 sm:w-16 -left-3 sm:left-0 xl:-left-11 2lg:left-4 -bottom-8 md:-bottom-12" src="icon-green-title.svg" alt="Logo SVG">
                <h1 class="title 2lg:text-8xl xl:text-7xl sm:text-6xl text-4xl text-center font-semibold w-full w-max 2lg:max-w-4xl sm:max-w-xl max-w-xs mx-auto">Soy <span class="text-custom-green">Luis</span>, Desarollador Web</h1>
            </div>
        </div>
        <div class="content-image flex justify-center w-full">
            <figure class="-mt-6 sm:-mt-24 md:-mt-32 transition-all"><img src="dasarrollador-luis.png" alt=""></figure>
        </div>
        <div class="content-stars w-full flex flex-col-reverse sm:flex-row justify-between align-middle">
            <div>
                <i class="fas fa-quote-left text-custom-gray text-3xl"></i>
                <p class="max-w-80 sm:max-w-52 md:max-w-72 lg:max-w-80">
                Transformo ideas en experiencias 
                web emocionantes que destacan 
                tu presencia digital.
                </p>
            </div>
            <div>
                <div class="mb-3 sm:mb-5 flex flex-row justify-end">
                    <i class="fas fa-star text-custom-green text-2xl sm:text-3xl"></i>
                    <i class="fas fa-star text-custom-green text-2xl sm:text-3xl"></i>
                    <i class="fas fa-star text-custom-green text-2xl sm:text-3xl"></i>
                    <i class="fas fa-star text-custom-green text-2xl sm:text-3xl"></i>
                    <i class="fas fa-star text-custom-green text-2xl sm:text-3xl"></i>							
                </div>						
                <div class="flex flex-col items-end"><span class="block text-custom-gray text-4xl sm:text-5xl font-bold mb-2">+4 Años</span> De Experincia</div>
            </div>
        </div>
    </div>
</section>