---
import CardProjects from '../components/CardProjects.astro';
import TitleSection from '../components/TitleSection.astro';
---

<section id="projects" class="projects">
    <div class="content max-w-8xl m-auto py-12 md:py-14 px-5">
        <div class="content-title">					
            <TitleSection classAdd="max-w-[426px]">Échale un vistazo a mi <span class="text-custom-green ">portafolio</span>.</TitleSection>
        </div>
        <div class="py-12 flex gap-5 slick-slider">
            <div class="swiper-container swiper-projects">
                <div class="swiper-wrapper">
                    <CardProjects 
                        title="JMteam"
                        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatem explicabo. Fugit maxime iusto, modi facilis voluptates reiciendis rem laboriosam deleniti iste autem ut consequatur unde quasi. Quisquam pariatur sit architecto eos deleniti?"
                        urlImage="jmteam-fullpc.webp"
                        />						
                    <CardProjects 
                        title="Servicentro"
                        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatem explicabo. Fugit maxime iusto, modi facilis voluptates reiciendis rem laboriosam deleniti iste autem ut consequatur unde quasi. Quisquam pariatur sit architecto eos deleniti?"
                        urlImage="servicentro-fullpc.webp"
                        />					
                    <CardProjects 
                        title="LudoNex"
                        body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, voluptatem explicabo. Fugit maxime iusto, modi facilis voluptates reiciendis rem laboriosam deleniti iste autem ut consequatur unde quasi. Quisquam pariatur sit architecto eos deleniti?"
                        urlImage="ludonex-fullpc.webp"
                        />
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>        
          </div>
        </div>
        <div>
            <p class="text-center text-custom-gray mx-auto max-w-lg">"Con tu apoyo, esta colección de proyectos puede seguir creciendo y expandiéndose. Estoy entusiasmado por las oportunidades futuras de desarrollar más experiencias impactantes juntos."</p>
        </div>
    </div>
</section>

<script>

    </script>