---
import ItemSkill from '../components/ItemSkill.astro';
import TitleSection from '../components/TitleSection.astro';
---


<section id="skill" class="skill">
    <div class="content max-w-8xl m-auto py-12 md:py-20 px-5 flex flex-col ">
        <TitleSection classAdd="text-center text-custom-green">Mis habilidades</TitleSection>					
        <div class="w-full pt-12 md:pt-16 slider-css">
            <div class="flex flex-row flex-wrap gap-3 justify-between slider-css_track">
                <ItemSkill icon="html" alt="logo html"/>
                <ItemSkill icon="css" alt="logo css"/>
                <ItemSkill icon="js" alt="logo js"/>
                <ItemSkill icon="tailwind" alt="logo tailwind"/>
                <ItemSkill icon="boostrap" alt="logo boostrap"/>
                <ItemSkill icon="jquery" alt="logo jquery"/>
                <ItemSkill icon="react" alt="logo react"/>
                <ItemSkill icon="Astro_dark" alt="logo Astro_dark"/>
                <ItemSkill icon="wordpress" alt="logo wordpress"/>
                <ItemSkill icon="shopify" alt="logo shopify"/>
                <ItemSkill icon="git" alt="logo git"/>
                <ItemSkill icon="github" alt="logo github"/>
                <ItemSkill icon="figma" alt="logo figma"/>
                <ItemSkill icon="photoshop" alt="logo photoshop"/>																		
            </div>
        </div>
    </div>
</section>